.pop-out-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000; /* Ensure it's above other content */
}

.pop-out-content {
  background-color: #d8ca9635; /* Background color with transparency */
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  max-width: 90%; /* Adjust width as needed */
  max-height: 90%; /* Adjust height as needed */
  overflow: auto; /* Enable scrolling if content exceeds dimensions */
  z-index: 1010; /* Ensure it's above overlay */
}

.pop-out-content h3 {
  margin-bottom: 10px;
}
