* {
  box-sizing: border-box;
}

/* Slideshow container */
.slideshow-container {
  max-width: 100%;
  position: relative;
  margin: auto;
}

/* Slides wrapper */
.slides-wrapper {
  display: flex;
  transition: transform 0.5s ease;
}

/* Slide item */
.slide-item {
  flex: 1 0 33.3333%; /* 3 slides per view */
  
}

@media (max-width: 768px) {
  .slide-item {
    flex: 1 0 100%; /* 1 slide per view */
  }
}

/* Arrow positioning */
.prev,
.next {
  cursor: pointer;
  margin: 0 10px;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background: #A5A5AB;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active,
.dot:hover {
  background: linear-gradient(to right, #c902ea, #34009a);
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

/* .pop {
  position: relative; 
  top: 50%; 
  right: 280px;
  transform: translate(0, -50%);
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-top: 100px;
}

@media (max-width: 768px) {
  .pop {
    position: static; 
    
    right: 300px;
    transform: translateX(-50%);
  }
} */

.pop-out-overlay {
  
  top: 1250px;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  
  z-index: 1000;
}


.pop-out-content {
  background-color: #d8ca963b;
  padding: 20px;
  border-radius: 32px;
  
  
  height: 1993px; 
  overflow: auto;
  z-index: 1010;
  backdrop-filter: blur(300px);
}

